In [1]:
#importing libraries
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.3.0'

In [3]:
#Importing dataset
df=pd.read_csv("Churn_Modelling.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
df.shape

(10000, 14)

In [5]:
#Checking if there are any missing values present.
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
#Spliting the data into predictors and target features
x=df.iloc[:,3:-1]
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
y=df.iloc[:,-1]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [8]:
#encoding categorical features
#Label encoding gender feature
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x['Gender']=le.fit_transform(x['Gender'])

In [9]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10

In [10]:
x['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [11]:
#One Hot Encoding the Geography feature
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x=pd.DataFrame(ct.fit_transform(x))

In [12]:
x.head()

    0    1    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [13]:
#Spliting the dataset into training and testing data sets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,test_size=0.25,random_state=0)

In [14]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11
2967,0.0,1.0,0.0,579.0,0.0,39.0,5.0,117833.30,3.0,0.0,0.0,5831.00
700,1.0,0.0,0.0,750.0,0.0,32.0,5.0,0.00,2.0,1.0,0.0,95611.47
3481,0.0,0.0,1.0,729.0,0.0,34.0,9.0,53299.96,2.0,1.0,1.0,42855.97
1621,0.0,0.0,1.0,689.0,1.0,38.0,5.0,75075.14,1.0,1.0,1.0,8651.92
800,1.0,0.0,0.0,605.0,1.0,52.0,7.0,0.00,2.0,1.0,1.0,173952.50

In [15]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=pd.DataFrame(sc.fit_transform(x_train))
x_test=pd.DataFrame(sc.transform(x_test))

In [16]:
x_train

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.015588,1.760216,-0.574682,-0.735507,-1.087261,0.015266,0.008860,0.673160,2.535034,-1.553624,-1.034460,-1.640810
1,0.984651,-0.568112,-0.574682,1.024427,-1.087261,-0.652609,0.008860,-1.207724,0.804242,0.643657,-1.034460,-0.079272
2,-1.015588,-0.568112,1.740094,0.808295,-1.087261,-0.461788,1.393293,-0.356937,0.804242,0.643657,0.966688,-0.996840
3,-1.015588,-0.568112,1.740094,0.396614,0.919743,-0.080145,0.008860,-0.009356,-0.926551,0.643657,0.966688,-1.591746
4,0.984651,-0.568112,-0.574682,-0.467915,0.919743,1.255605,0.701077,-1.207724,0.804242,0.643657,0.966688,1.283302
...,...,...,...,...,...,...,...,...,...,...,...,...
7495,-1.015588,1.760216,-0.574682,-0.581127,-1.087261,-0.652609,-0.337248,0.708942,0.804242,0.643657,0.966688,1.092143
7496,-1.015588,-0.568112,1.740094,1.477276,-1.087261,-1.606716,-0.337248,0.618999,-0.926551,0.643657,0.966688,0.131906
7497,0.984651,-0.568112,-0.574682,0.900923,0.919743,-0.366377,0.008860,1.366572,0.804242,0.643657,-1.034460,1.413355
7498,-1.015588,-0.568112,1.740094,-0.622295,-1.087261,-0.080145,1.393293,-1.207724,0.804242,0.643657,0.966688,0.844962
7499,-1.015588,1.760216,-0.574682,-0.282658,-1.087261,0.873962,-1.375573,0.517417,-0.926551,0.643657,-1.034460,0.325004

#### Building the ann

In [19]:
#Initializing the Ann
ann=tf.keras.models.Sequential()

In [20]:
#Adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
#Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [21]:
#Adding the output layer
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

### Training the Ann

In [22]:
#Compile the Ann
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
#Training the ANN on the trainig dataset
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

  1/235 [..............................] - ETA: 0s - loss: 0.7201 - accuracy: 0.6250WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.0061s). Check your callbacks.
235/235 [==============================] - 0s 2ms/step - loss: 0.5909 - accuracy: 0.7340
Epoch 2/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4906 - accuracy: 0.7963
Epoch 3/100
235/235 [==============================] - 1s 2ms/step - loss: 0.4654 - accuracy: 0.7963
Epoch 4/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4472 - accuracy: 0.7980
Epoch 5/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4344 - accuracy: 0.8045
Epoch 6/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4259 - accuracy: 0.8140
Epoch 7/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4201 - accuracy: 0.8189
Epoch 8/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4149 - accuracy: 0.8231
Epoch 9/100
235/235 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8255
Epoch 10/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8269
Epoch 11/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4029 - accuracy: 0.8296
Epoch 12/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3994 - accuracy: 0.8315
Epoch 13/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8327
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3916 - accuracy: 0.8348
Epoch 15/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3868 - accuracy: 0.8365
Epoch 16/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3822 - accuracy: 0.8408
Epoch 17/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3775 - accuracy: 0.8448
Epoch 18/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3728 - accuracy: 0.8492
Epoch 19/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8529
Epoch 20/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8544
Epoch 21/100
235/235 [==============================] - 0s 1ms/step - loss: 0.3599 - accuracy: 0.8540
Epoch 22/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8564
Epoch 23/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3545 - accuracy: 0.8567
Epoch 24/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8567
Epoch 25/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8581
Epoch 26/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8592
Epoch 27/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8603
Epoch 28/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8609
Epoch 29/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8603
Epoch 30/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8617
Epoch 31/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8628
Epoch 32/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8612
Epoch 33/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8613
Epoch 34/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8599
Epoch 35/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8616
Epoch 36/100
235/235 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8617
Epoch 37/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8625
Epoch 38/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8609
Epoch 39/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8609
Epoch 40/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8628
Epoch 41/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8621
Epoch 42/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8628
Epoch 43/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8632
Epoch 44/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8617
Epoch 45/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8637
Epoch 46/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8641
Epoch 47/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8645
Epoch 48/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8627
Epoch 49/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8644
Epoch 50/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8617
Epoch 51/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8661
Epoch 52/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8632
Epoch 53/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8621
Epoch 54/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8629
Epoch 55/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8623
Epoch 56/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8624
Epoch 57/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8625
Epoch 58/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8625
Epoch 59/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8653
Epoch 60/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8628
Epoch 61/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8613
Epoch 62/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8639
Epoch 63/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8637
Epoch 64/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8632
Epoch 65/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8636
Epoch 66/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8629
Epoch 67/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8629
Epoch 68/100
235/235 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8645
Epoch 69/100
235/235 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8637
Epoch 70/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8644
Epoch 71/100

235/235 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8632
Epoch 72/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8629
Epoch 73/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8639
Epoch 74/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8625
Epoch 75/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8640
Epoch 76/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8647
Epoch 77/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8627
Epoch 78/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8636
Epoch 79/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8643
Epoch 80/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8643
Epoch 81/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8640
Epoch 82/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8636
Epoch 83/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8656
Epoch 84/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8640
Epoch 85/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8641
Epoch 86/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8647
Epoch 87/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8631
Epoch 88/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8652
Epoch 89/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8643
Epoch 90/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8652
Epoch 91/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8629
Epoch 92/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8629
Epoch 93/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8628
Epoch 94/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8665
Epoch 95/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8633
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8632
Epoch 97/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8652
Epoch 98/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8620
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8633
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8639

In [27]:
#Making Prediction and evaluating the model.
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5)

[[False]]

In [38]:
y_pred=ann.predict(x_test)
y_pred=(y_pred>0.5)

In [39]:
#Creating the confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[1894,   97],
       [ 249,  260]], dtype=int64)

In [40]:
#Accuracy Score
from sklearn.metrics import accuracy_score
a_s=accuracy_score(y_test,y_pred)
a_s

0.8616